@font-face {
    font-family:Angoola;
    font-style:normal;
    font-weight:300;
    src:url(./fonts/Angoola.ttf);
}

html {
}

body {

    font-family:Angoola;
    color:#FCF8E7;
    
    background-color: #010101;

    background-image: url(./art/tri-left.svg),
                      url(./art/tri-right.svg),
                      url(./art/inversialogo.svg);

    background-repeat: no-repeat;

    background-size: 18vw, 18vw, 43vw;

    background-position: left 5vw,
                         right 5vw,
                         center 14vw;
}

div {
    box-sizing:border-box;
}

.menu {
    display:flex; 
    /*border: 2px solid #e83a82; */
    justify-content: space-around;
    padding:45px 150px 45px 150px;
}

    .menu a {

        font-size:2.5vw;
        padding: 0 25px;
        color: #FCF8E7;
        text-decoration: none;
/*         border: 2px solid #e83a82; */
    }

.header{
    /* border: 2px solid #e83a82; */
    width: 100%;
}


h2 {
    color:#FCF8E7; 
    font-size:50px;
    
       
}

p {
    color:#FCF8E7; 
    font-size:25px;
    padding-top: 40px;
}


.about {
    /* border: 2px solid #e83a82; */
    padding:0px 10%;
    margin-top: 50vw;
    background-image:url(/art/knopa.svg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: bottom center;
    height: 75vmax;
}

    .about p {
        font-size: 2vmax;
        line-height: 5vmax;
        white-space:nowrap;
    }

    .about h2 {
        font-size: 5vmax;
        margin-left: 5%;

    }

.works {
}

    .work {
        width:100%;  
        /*border: 2px solid #e83a82;  */
        display:flex;
        margin-bottom: 5vw;
        padding: 0 5vw;

    }

    .work.full-width {
        padding: 0;
    }

        .work a {
            color:#c0a781;
            text-decoration:none;
            border-bottom: 2px solid #fcf8e7;
            padding-bottom: 0.2vw;
        }

        .work .media {
            /*border: 2px solid #e83a82;*/
        }

            .work .video-container {
                position:relative;
                width:40vw;
                padding-bottom:56.25%;
                /*border: 2px solid #45e83a;*/


            }

            .work .video-container iframe {
                position:absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }

        .work p {
            font-size:1.5vw;
            padding:0 0 0 0vw;
            /*border: 2px solid #e83a82;*/
            line-height: 5vmax;
        }

            .work p:nth-child(even){
                padding-left:5vw;
                text-align:right;
            }

            .work p:nth-child(odd){
                padding-right:5vw;
            }